body{
    min-height: 100vh;
    place-items: start;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.top_container{
    margin-top: 1rem;
    width: 100%;
    margin-right: auto;
    height: 35vh;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.bottom_left_container{
    margin-top: 1rem;
    width: 75%;
    margin-right: auto;
    height: 65vh;
}

